html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}
body {
  font-family: Montserrat, sans-serif;
  color: #fff;
  overflow-x: hidden;
  width: 100vw;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul.custom-bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 28px;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    border-radius: 1px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg) translateY(-50%);
  }
}

.sections {
  section:last-child {
    &:after {
      content: none !important;
    }
    .content {
      padding-bottom: 130px;
    }
  }
  section:nth-child(even) {
    .content {
      background-color: #000;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23000000' points='100 0, 0 100, 0 0'/%3E%3C/svg%3E")
        no-repeat #151619;
      background-size: 100% 100%;
      transform: rotateY(180deg);
    }
    .text-content {
      padding-right: 130px;
      order: 1;
    }
    .img-content {
      order: 2;
    }
  }
  section:nth-child(odd) {
    .content {
      background-color: #151619;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23151619' points='100 0, 0 100, 0 0'/%3E%3C/svg%3E")
        no-repeat #000000;
      background-size: 100% 100%;
    }
    .text-content {
      padding-left: 130px;
      order: 2;
    }
    .img-content {
      order: 1;
    }
  }

  .fix-width {
    max-width: 1800px;
    margin: 0 auto;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .text-content {
    max-width: 700px;
    h3 {
      font-size: 36px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
      color: #b2b5b7;
      padding-bottom: 55px;
    }
    h4 {
      font-weight: bold;
      font-size: 24px;
      color: #fe6b20;
    }
  }
}

//First section
section#banner {
  .content {
    background-color: #000;
    padding: 13px 15px 80px;
    h2 {
      padding-top: 30px;
      padding-bottom: 15px;
    }
    p {
      font-size: 18px;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23000000' points='100 0, 0 100, 0 0'/%3E%3C/svg%3E")
      no-repeat #151619;
    background-size: 100% 100%;
    transform: rotateY(180deg);
  }
}
