{% set body_class = "home" %}
{% extends "templates/components/_layout.njk" %}

{% block content %}
    <section id="banner">
        <div class="content">
            <img src="/assets/images/main-banner.png" alt="Banner" class="img-fluid mx-auto d-block">
            <h2>
                <img
                        src="/assets/images/main-banner-text.png"
                        alt="CREATE. ANIMATE. PLAY."
                        class="img-fluid mx-auto d-block"
                >
            </h2>
            <p class="m-0 text-center">
                VoxEditor is the first software that allows you to create your own voxel models,
                rig them and animate them in no time.
            </p>
        </div>
    </section>


    <section id="modeling-tools">
        <div class="content">
            <div class="fix-width d-flex align-items-center">
                <div class="img-content">
                    <img src="/assets/images/modeling-tools.png" alt="Modeling tools" class="img-fluid mx-auto d-block">
                </div>
                <div class="text-content">
                    <h3>POWERFUL EASY TO USE MODELING TOOLS</h3>
                    <p>Make the most of your creativity with a robust set of tools.
                       If you are an advanced 3D modeler or just starting out,
                       with our super user-friendly interface you will creating
                       amazing stuff right away.</p>
                    <h4>FEATURES</h4>
                    <ul class="custom-bullets">
                        <li>All in one software with incredible performance</li>
                        <li>Windows and Mac supported</li>
                        <li>Amazing voxel creation tools</li>
                        <li>Emisive Wand. Make your work glow</li>
                        <li>Increase your voxels to get that level of detail</li>
                        <li>Work with a big Canvas</li>
                        <li>Mirror XYZ. Work less, we take care of the rest</li>
                        <li>Voxel, Quads and super fast Render view</li>
                        <li>Advanced Color Palette</li>
                        <li>Super friendly 3D enviroment to work</li>
                        <li>And much more</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="animation">
        <div class="content">
            <div class="fix-width d-flex align-items-center">
                <div class="text-content">
                    <h3>ANIMATE YOUR CREATIONS</h3>
                    <p>Make the most of your creativity with a robust set of tools.
                       If you are an advanced 3D modeler or just starting out,
                       with our super user-friendly interface you will creating
                       amazing stuff right away.</p>
                    <h4>FEATURES</h4>
                    <ul class="custom-bullets">
                        <li>All in one software with incredible performance</li>
                        <li>Windows and Mac supported</li>
                        <li>Amazing voxel creation tools</li>
                        <li>Emisive Wand. Make your work glow</li>
                        <li>Increase your voxels to get that level of detail</li>
                        <li>Work with a big Canvas</li>
                        <li>Mirror XYZ. Work less, we take care of the rest</li>
                        <li>Voxel, Quads and super fast Render view</li>
                        <li>Advanced Color Palette</li>
                        <li>Super friendly 3D enviroment to work</li>
                        <li>And much more</li>
                    </ul>
                </div>
                <div class="img-content">
                    <img src="/assets/images/animation.png" alt="Animation" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </section>

{% endblock %}