{% set body_class = "home" %}
{% extends "templates/components/_layout.njk" %}

{% block content %}
    <section id="banner">
        <div class="content">
            <img
                    data-aos="{{ sections.banner.art.animation }}"
                    src="{{ sections.banner.art.img }}"
                    alt="{{ sections.banner.art.alt }}"
                    class="img-fluid mx-auto d-block"
            >
            <h2>
                <img
                        data-aos="{{ sections.banner.text.animation }}"
                        data-aos-delay="300"
                        src="{{ sections.banner.text.img }}"
                        alt="{{ sections.banner.text.alt }}"
                        class="img-fluid mx-auto d-block"
                >
            </h2>
            <p class="m-0 text-center" data-aos="fade-up">
                {{ sections.banner.text_content }}
            </p>
        </div>
    </section>
    <div class="sections">
        {% for section in sections.others %}
            <section id="{{ section.id }}">
                <div class="content">
                    <div class="fix-width d-flex align-items-center justify-content-center">
                        <div class="img-content" data-aos="fade-down" data-aos-offset="300">
                            <img src="{{ section.img }}" alt="Modeling tools" class="img-fluid mx-auto d-block">
                        </div>
                        <div
                                class="text-content"
                                data-aos="fade-left"
                                data-aos-offset="500"
                                data-aos-delay="100"
                        >
                            <h3>{{ section.title }}</h3>
                            <p>{{ section.description }}</p>
                            {% if section.features.length %}
                                <h4>FEATURES</h4>
                                <ul class="custom-bullets">
                                    {% for feature in section.features %}
                                        <li>{{ feature }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>

{% endblock %}