<header class="main-header d-flex">
    <a href="/" title="VoxEditor" class="d-flex">
        <div class="brand-logo">
            <img src="/assets/images/brand-logo.png" alt="Logo" />
        </div>
        <h1 class="brand-name">VoxEditor</h1>
    </a>
    <a href="" title="Download" class="download-btn d-flex align-items-center justify-content-center">
        DOWNLOAD
    </a>
</header>